.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  font-family: 'Roboto', sans-serif;
}

.popup__content {
  position: relative;
  width: 70%;
  padding: 30px;
  background-color: white;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}

.popup__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup__img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.popup__img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
  margin: auto;
}

.img-container {
  position: relative;
}

.img-container__btn {
  position: absolute;
  width: 30px;
  height: 20px;
  bottom: 50%;
}

.img-container__btn_left {
  left: 0;
  transform: rotate(180deg);
}

.img-container__btn_right {
  right: 0;
}

.img-container__circle-list {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}



.popup__text {
  position: relative;
}

.popup__title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

.popup__address {
  color: rgb(105, 105, 105);
  margin-bottom: 30px;
}

.popup__price {
  position: absolute;
  bottom: 0;
}

.popup__description {
  line-height: 20px;
  margin-bottom: 30px;
}

.popup__seller-name {
  position: absolute;
  bottom: 0;
  right: 0;
}
