.card {
  width: 500px;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.card__image-placeholder {
  background-color: rgb(223, 223, 223);
  width: 240px;
  height: 180px;
  margin: auto;
}

.card__img {
  border-radius: 5px;
}

.card__text {
  position: relative;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  transition: color ease-in-out .3s;
}

.card:hover .card__title {
  color: lightskyblue;
}

.card__address {
  color: rgb(105, 105, 105);
}

.card__price {
  position: absolute;
  bottom: 0;
}

.card__open-menu {
  position: absolute;
  width: 30px;
  height: 20px;
  bottom: 0;
  right: 0;
  transition: fill ease-in-out .3s, right ease-in-out .3s;
}

.card:hover .card__open-menu {
  fill: lightskyblue;
  right: 5px;
}

@media only screen and (max-width: 550px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    margin-top: 10px;
  }
  .card__text {
    width: 240px;
    margin: auto;
    margin-top: 10px;
  }
  .card__price {
    position: relative;
    margin-top: 10px;
  }
}

